a, p, .input-field, Button {
    display: block;
}

.card a {
    width: auto;
    min-width: 55%;
    margin: 5%;
}

div.input-field.col {
    width: 100%;
}

input#loginEmail, input#loginPassword {
    width: 55%
}